/** @format */

.herobanner {
  position: relative;
  padding: 2rem 0;
  overflow: hidden;
  text-align: right;
}

@media only screen and (width <= 900px) {
  .herobanner {
    padding: 1rem 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .herobanner {
    animation: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .herobanner {
    animation: vibrate 0.3s linear infinite both;
  }
}

.hero {
  padding: 4rem;
  background-color: hsl(210deg 12% 19%);
}

.heroInner {
  max-width: 1100px;
  padding: 0 4rem;
  margin: 0 auto;
}

.heroProjectTagline {
  font-size: 2.8rem;
  color: hsl(0deg 0% 100%);
}

.heroTitleTextHtml b {
  color: var(--ifm-color-primary);
}

@keyframes jack-in-the-box {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(180deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-20deg);
  }

  70% {
    transform: rotate(5deg);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.heroLogo {
  float: right;
  max-width: 100%;
  height: auto;
  padding: 0 20px 20px;
  margin-top: 20px;
  animation-name: jack-in-the-box;
  animation-duration: 4s;
}

.indexCtasGitHubButtonWrapper {
  display: flex;
  max-width: 70%;
  padding: 2rem 0;
}

.indexCtasGitHubButton {
  border: 0;
}

.indexCtaTryNowButton:hover {
  color: var(--ifm-color-primary);
}

.indexCtas a {
  color: var(--ifm-color-black) !important;
}

.indexCtas {
  --ifm-button-size-multiplier: 1.4;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 18px;
}

.indexCtas a:hover {
  color: var(--ifm-color-primary) !important;
  background: hsl(210deg 12% 16%);
}

.indexCtas a:last-of-type {
  margin: 16px 24px;
}

@media only screen and (width <= 700px) {
  .hero {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .heroInner {
    padding: 0;
  }

  .heroProjectTagline {
    font-size: 2rem;
    text-align: center;
  }

  .heroLogo {
    display: block;
    float: none;
    max-width: 30%;
    height: auto;
    margin: 0 auto;
  }

  .indexCtas {
    --ifm-button-size-multiplier: 1.2;

    justify-content: center;
  }

  .indexCtas a {
    margin: 14px 18px;
  }

  .indexCtasGitHubButton {
    display: none;
  }
}

@media only screen and (width <= 500px) {
  .heroProjectTagline {
    font-size: 1.8rem;
    text-align: center;
  }

  .indexCtas {
    --ifm-button-size-multiplier: 1;
  }

  .heroLogo {
    display: none;
  }
}
