i18n
dist
build
coverage
node_modules
static/fa
.yarn
.vscode
.docusaurus
.trunk/out
.github/CODE_OF_CONDUCT.md
.github/SECURITY.md
versions.json
versioned_sidebars/*.json
.github/CODE_OF_CONDUCT.md
pnpm-lock.yaml
