{
  "arrowParens": "always",
  "bracketSpacing": false,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "requirePragma": false,
  "singleQuote": true,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "auto",
  "semi": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
