extends:
  - stylelint-config-standard
  - stylelint-config-prettier
plugins:
  - stylelint-csstree-validator
ignoreFiles:
  - node_modules/**/*
  - static/**
rules:
  'csstree/validator': true
  selector-pseudo-class-no-unknown:
    - true
    - ignorePseudoClasses:
        - global
  selector-class-pattern: null
  custom-property-empty-line-before: null
  selector-id-pattern: null
  declaration-empty-line-before: null
  comment-empty-line-before: null
  value-keyword-case:
    - lower
    - camelCaseSvgKeywords: true
    - at-rule-no-unknown:
        - true
    - ignoreAtRules:
        - extend
        - extends
        - css
        - block
        - severity: warning
  block-no-empty: true
  color-no-invalid-hex: true
  font-family-no-missing-generic-family-keyword: fasle
