.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.SvgJsx {
  width: 16em;
  height: 16em;
}

.svgImg {
  width: 220px;
  height: 220px;
}

@media screen and (max-width: 966px) {
  .features {
    padding: 2rem 0;
  }
}
