.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.SvgJsx {
  width: 18em;
  height: 18em;
}

@media screen and (max-width: 966px) {
  .features {
    padding: 2rem 0;
  }
}
