.herobanner {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.4rem 0;
  width: 100%;
}

@media only screen and (max-width: 996px) {
  .herobanner {
    padding: 0.7rem 0;
  }
}
