{
  "insertPragma": false,
  "requirePragma": false,
  "arrowParens": "always",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "printWidth": 120,
  "proseWrap": "preserve",
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto",
  "quoteProps": "as-needed"
}
