/*!
 *  Hack typeface https://github.com/source-foundry/Hack
 *  License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */
/* FONT PATHS
 * -------------------------- */
@font-face {
  font-family: Hack;
  font-style: normal;
  font-weight: 400;
  src: url("woff/hack-regular-subset.woff?sha=3114f1256") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Hack;
  font-style: normal;
  font-weight: 700;
  src: url("woff/hack-bold-subset.woff?sha=3114f1256") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Hack;
  font-style: italic;
  font-weight: 400;
  src: url("woff/hack-italic-subset.woff?sha=3114f1256") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Hack;
  font-style: italic;
  font-weight: 700;
  src: url("woff/hack-bolditalic-subset.woff?sha=3114f1256") format("woff");
  font-display: swap;
}
