.heroBanner {
  padding: 2rem;
  text-align: left;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 996px) {
  .video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    padding-top: 56.25%;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 1rem 0;
  }
}

.tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
