/** @format */

.ImgClass {
  display: block;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 1%;
  text-align: center;
}

.ImgClass img {
  max-width: 100%;
  height: auto;
  border-radius: 0.4em;
}
