/** @format */

.asciinema {
  position: relative;
  display: block;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0;
  padding-bottom: 1%;
  text-align: center;
}

.asciinemaBorder {
  cursor: pointer;
  border: 0.01rem solid var(--ifm-color-primary);
  border-radius: var(--ifm-global-radius);
  transition: border-color 2s ease-in-out;
}

.asciinemaBorder:hover {
  border-color: var(--ifm-color-emphasis);
}
