/** @format */

.apiTable {
  font-size: smaller;
}

.apiTable tbody tr {
  transition: box-shadow 0.2s;
}

.apiTable tbody tr:focus,
.apiTable tbody tr:hover {
  outline: none;
  box-shadow: 0 0 8px 0 inset var(--ifm-color-primary);
  cursor: pointer;
  transition: box-shadow 0.4s;
}
