.features {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 8rem 0;
}

.description {
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 966px) {
  .features {
    padding: 4rem 0;
  }
}
