.features {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 6rem 0;
}

.description {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 966px) {
  .features {
    padding: 3rem 0;
  }
}
