.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.description {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 966px) {
  .features {
    padding: 2rem 0;
  }
}
