.SocialHome {
  padding: 2rem 0;
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  width: 'relative';
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 1rem;
  }

  .SocialHome {
    padding: 1rem;
  }
}
