.badge {
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.default {
  background-color: var(--ifm-color-emphasis-200);
  color: var(--ifm-color-emphasis-800);
}

.success {
  background-color: var(--ifm-color-success-contrast-background);
  color: var(--ifm-color-success-dark);
}

.warning {
  background-color: var(--ifm-color-warning-contrast-background);
  color: var(--ifm-color-warning-dark);
}

.danger {
  background-color: var(--ifm-color-danger-contrast-background);
  color: var(--ifm-color-danger-dark);
}
