.highlight {
  border-radius: 0.2rem;
  padding: 0.1rem 0.4rem;
  font-weight: bold;
  display: inline-block;
}

.primary {
  background-color: var(--ifm-color-primary-lightest);
  color: var(--ifm-color-primary-darkest);
}

.success {
  background-color: var(--ifm-color-success-lightest);
  color: var(--ifm-color-success-darkest);
}

.warning {
  background-color: var(--ifm-color-warning-lightest);
  color: var(--ifm-color-warning-darkest);
}

.danger {
  background-color: var(--ifm-color-danger-lightest);
  color: var(--ifm-color-danger-darkest);
}

.info {
  background-color: var(--ifm-color-info-lightest);
  color: var(--ifm-color-info-darkest);
}
