@font-face {
  font-family: Hack;
  font-style: normal;
  font-weight: 400;
  src: url("webfonts/hack-regular.woff2?sha=3114f1256") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Hack;
  font-style: normal;
  font-weight: 700;
  src: url("webfonts/hack-bold.woff2?sha=3114f1256") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Hack;
  font-style: italic;
  font-weight: 400;
  src: url("webfonts/hack-italic.woff2?sha=3114f1256") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Hack;
  font-style: italic;
  font-weight: 700;
  src: url("webfonts/hack-bolditalic.woff2?sha=3114f1256") format("woff2");
  font-display: swap;
}
