.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.animation3 {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  --fa-animation-duration: 3s;
}

.animation5 {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  --fa-animation-duration: 5s;
}

.animation10 {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  --fa-animation-duration: 10s;
}

.animation15 {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  --fa-animation-duration: 15s;
}

.animation30 {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  --fa-animation-duration: 30s;
}

.bounce {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  --fa-bounce-start-scale-x: 1;
  --fa-bounce-start-scale-y: 1;
  --fa-bounce-jump-scale-x: 1;
  --fa-bounce-jump-scale-y: 1;
  --fa-bounce-land-scale-x: 1;
  --fa-bounce-land-scale-y: 1;
  --fa-bounce-rebound: 0;
}

.fade {
  --fa-beat-fade-opacity: 0.6;
  --fa-beat-fade-scale: 1.075;
}
